* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
}

.root {
    width: 1280px;
    padding: 10px;
    font-size: 16px;
}

.block_1, .blok_2, .blok_3, .blok_4 {
    height: 150px;
    text-align: left;
    padding: 10px;
}

.block_1 {
    background: #55B3B9;

}

main div:first-child b:first-child {
    font-size: 4rem;
}

.text_2 {
    font-size: 3rem;
}

.text_3 {
    font-size: 2rem;
}

.text_4 {
    font-size: 1.5em;
}

.text_5 {
    font-size: 1em;
}

.blok_2 {
    background: #C56060;
    margin-left: auto;
    margin-top: 10px;

}

.blok_3 {
    background: #8FC091;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;

}

.blok_4 {
    background: #8F86AF;
    margin-top: 10px;

}

div:nth-child(odd) {
    width: 73.7%;
}

div:nth-child(even) {
    width: 49.1%;
}